
%div{ :style => "text-align: center;" }
  %h1 Event Calendar for this month:
  
%br
= month_calendar do |date|
  = date.mday
  
  
= button_to 'Create New Meeeting', new_meeting_path, :method => :get
            