<div class = "row">
    <div class = "well col-md-8 col-md-offset-2"> 
        <%= form_for @current_user do |f| %>
            
             <%= f.label :password %>
            <%= f.password_field :password %>
            
            <%= f.submit( class: "btn btn-success") %>
        <% end %>      
    </div>
</div>