%title Delete a Book
%div{ :style => "text-align: center;" }
  %h3 Delete a Book

  -if (@current_user && @current_user.position != "User")
    = form_tag deletebook_path do
      %br
      = label :book, :isbn, 'Enter Book ISBN:'
      = text_field :book, 'isbn'
      %br
      %br
      = submit_tag 'Save Changes', :class => "btn btn-danger"
  -else
    Users cannot delete books!!
  end